---
layout: page
---
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Akshat's AI research portfolio, focusing on explainable AI (XAI) for healthcare applications and trust-building AI systems.">
  <meta name="keywords" content="XAI, explainable AI, healthcare AI, AI research, trust-building AI, Akshat">
  <meta property="og:title" content="Akshat Dubey's AI Research Portfolio">
  <meta property="og:description" content="Explore Akshat's research in explainable AI, focused on integrating regulatory-compliant workflows and healthcare innovations.">
  <meta property="og:image" content="path_to_image.jpg">
  <meta property="og:url" content="https://dubeyakshat07.github.io/akshat">
  <title>Akshat's AI Research Portfolio</title>
</head>

<div class="columns">
    <div class="column is-4">
        <div class="content">
            <figure class="image pb-0 mb-0" style="max-width: 300px; margin-left: 0">
                <img src="{{site.url}}{{site.baseurl}}/{{ site.data.meta.index.personal_photo }}">
            </figure>
            {{ site.data.meta.index.image_credit | markdownify }}
        </div>
    </div>
    <div class="column is-8">
        <div class="content">
            <h1 class="title">{{ site.data.meta.index.welcome_message }}</h1>
            {{ site.data.meta.index.personal_description | markdownify }}
            <h3 class="title">Recent News</h3>
            {% for news in site.data.news limit:3 %}
            <div class="columns mb-0">
                    <div class="column is-2">
                        <span class="tag news-time {% if news.highlight != nil %}
                        {{ site.data.meta.index.news_highlight_color}}
                    {% endif %}">
                                {{ news.time }}
                        </span>
                    </div>
                    <div class="column is-10">
                        {{ news.title | markdownify }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
