---
layout: page
pagination:
  enabled: true
title: News
---

<div class="content">
    <h3 class="title">Recent News</h3>
    {% for news in site.data.news limit:8 %}
    <div class="columns mb-0">
        <div class="column is-2">
            <span class="tag news-time {% if news.highlight != nil %}
            {{ site.data.meta.index.news_highlight_color }}
            {% endif %}">
                {{ news.time }}
            </span>
        </div>
        <div class="column is-10">
            {{ news.title | markdownify }}
        </div>
    </div>
    {% endfor %}
</div>

